
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-tags:before {
  content: "\e042";
}


/** **/
.container {
  width: 100%;
  position: relative;
}

.col-fifty-fifty {
  width: 50%;
  float: left;
}


/** Some more additional styles **/
#wpcontent {
    padding-top: 20px;
    padding-right: 20px;
}

#wptkt .error, #wptkt .success, #wptkt .updated {
  margin-left: 0px;
  margin-right: 0px;
}

.text-center {
  text-align: center;
}

.welcome-panel {
  padding-bottom: 23px;
}

.welcome-panel h3 .glyphicon {
  font-size: 0.8em;
  margin-right: 10px;
}

.wptkt_table th {
  font-weight: 700;
}

.wptkt_table td {
  font-size: 1.1em;
  padding: 6px 9px;
}

.wptkt_table td:first-child {
  width: 20%;
}

.wptkt_table tr:nth-child(2n) td, .wptkt_table tr:nth-child(2n) th {
  background: none repeat scroll 0 0 #fcfcfc;
}
